<h1>Borrow</h1>
<%=button_to :home, root_path, class: "btn-primary", method: :get  %>

<h2>Masukkan detail peminjaman<h2>
<%= form_for :transaction, :url => { :controller => "transaction", :action => "create" }, :html => {:method => :post} do |f| %>
  Nama: <%= f.select(:user_id, options_for_select(@user.map{|c| [c.name, c.id]}, @user)) %></br>
  Buku: <%= f.select(:book_id, options_for_select(@book.map{|c| [c.title, c.id]}, @book)) %></br>
  Tanggal Pinjam: <%= date_select :pinjam, :pinjam , :class => 'datepicker' %></br>
  Tanggal Kembali: <%= date_select :kembali, :kembali , :class => 'datepicker' %></br>
  <%= f.submit :Pinjam %>
<% end %>
