<h1>List</h1>
<%=button_to(:home, root_path, class: "btn-primary", method: :get)  %>


<h2>Masukkan detail pengembalian<h2>
<%= form_for :transaction, :url => { :controller => "transaction", :action => "list" }, :html => {:method => :get} do |f| %>
  <%= f.label :search %>:
  <%= text_field_tag :search %><br/>
<% end %>
<%= link_to '<button type="button">Filter Terlambat</button>'.html_safe, transaction_list_path(filter: :late) %>
<%= link_to '<button type="button">Filter Belum kembali</button>'.html_safe, transaction_list_path(filter: :unreturned) %>
<%= link_to '<button type="button">Clear Filter</button>'.html_safe, transaction_list_path %>
<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      <th>Buku</th>
      <th>Tanggal Pinjam</th>
      <th>Tanggal Kembali</th>
      <th>Tanggal Dikembalikan</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @transaction.each do |t| %>
    <tr class=<%= t.returned.nil? ? "" : (t.returned > t.kembali ? "late" : "") %>>
      <td><%= t.user.name %></td>
      <td><%= t.book.title %></td>
      <td><%= t.pinjam %></td>
      <td><%= t.kembali %></td>
      <td><%= t.returned %></td>
      <%= form_for :transaction, :url => { :controller => "transaction", :action => "return_book" }, :html => {:method => :get} do |f| %>
      <%= f.hidden_field :transaction_id, value: t.id %>
      <td><%= t.returned.nil? ? f.submit(:return) : "-" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
